<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

    <style>
        html, body {
            height: 100%;
        }

        body {
            display: grid;
            place-items: center;
        }

        .text-red {
            color: red;
        }

        .text-green {
            color: green;
        }

    </style>
</head>
<body>
    <div id="app">

        <section v-show="inProgress.length">
            <h2>In progress</h2>
            <ul>
                <li v-for="task in inProgress" :key="task.id">
                    <label>
                        {{task.name}}
                        <input type="checkbox" v-model="task.complete">
                    </label>
                </li>
            </ul>
        </section>

        <section v-show="completed.length">
            <h2>Completed</h2>
            <ul>
                <li v-for="task in completed" :key="task.id">
                    <label>
                        {{task.name}}
                        <input type="checkbox" v-model="task.complete">
                    </label>
                </li>
            </ul>
        </section>
    </div>
    
    <script>
        Vue.createApp({

            data () {
                return {
                    tasks: [
                        {name: "Task 1", complete: false, id: 1},
                        {name: "Task 2", complete: false, id: 2},
                        {name: "Task 3", complete: false, id: 3}
                    ]
                }
            },

            computed: {
                completed() {
                    return this.tasks.filter(t => t.complete);
                },

                inProgress() {
                    return this.tasks.filter(t => !t.complete)
                }
            }

        }).mount('#app');
    </script>
</body>
</html>